body {
	margin: 0;
	background: lightgray;
	font-family: "Helvetica Neue", Helvetica;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Courier New", Courier, monospace;
	color: purple;
}

header {
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 8%;
	background: darkblue;
}

.site-title {
	margin: 0;
	color: white;
}

main {
	padding-left: 8%;
	padding-right: 8%;
}

p {
	padding: 5px;
}

.columns {
	display: flex;
	flex-wrap: wrap;
}

.left-column {
	width: 50%;
	min-width: 260px;
}

.right-column {
	width: 50%;
	min-width: 260px;
	text-align: center;
}

.profile-pic {
	max-width: 320px;
}
